@font-face {
    font-family: 'saira_condensedthin';
    src: url('sairacondensed-thin-webfont.woff2') format('woff2'),
         url('sairacondensed-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
	background-color: rgba(153, 255, 153, 0.3);
}
	
* { 
	font-family: 'saira_condensedregular', sans-serif; 
}

* ul {
	list-style: none;
}

* a {
	text-decoration: none;
}

body {
	margin-left: 100px;
}

#title-bar p {
	padding-left: 20px;
	letter-spacing: 1.2em;
	font-size: 1.8em;
	text-align: right;
	text-shadow: 3px 3px rgba(0,0,0,0.3);
}

a:hover {
	background-color: rgba(0, 0, 0, 0.3);
	transition: 500ms;
}

#container {
	width: auto;
	max-width: 1200px;
	min-width: 875px;
}

button {
	width: 100%;
	border: none;
	margin-top: 10px;
	height: 40px;
	padding-top: 5px;
	background-color: lightgreen;
	border-radius: 10px 10px 0px 0px;
	letter-spacing: 0.5em;
	box-shadow: 6px 8.5px rgba(0,0,0,0.2);
}

#col-1 {
	width: 25%;
	float: left;
	padding-left: 35px;
	padding-top: 50px;
}

#col-1 ul {
	margin: 0;
}

#main {
	width: 50%;
	float: left;
}

#main p {
	font-size: 0.7em;
	padding-left: 45px;
	text-align: right;
}

img {
	object-fit: cover;
	width: 100%;
	opacity: 90%;
	box-shadow: 6px 7px rgba(0,0,0,0.2);
}

.accordion-panel {
	display:none;
	text-align: center;
	padding: 25px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 0px 0px 10px 10px;
	box-shadow: 6px 7px rgba(0,0,0,0.2);
}

.accordion-panel p {
	color: white;
	height: 50px;
	margin: 0px;
	padding-top: 25px;
}

.inactive {
	display:none;
}

.tab-list {
	
	color: green;
	background-color: green;
	width: 50%;
	border: none;
	border-radius: 0px 12px 12px 0px;
}
.tab-list a {
	width: 20%;
	color: white;
	font-size: 17px;
	padding: 10px;
}

.tab-list li {
	display: inline-block;
	border-style: solid;
	
}

#tabs {
	border-style: solid;
	background-color: rgba(0,0,0,0.85);
}

#pipe {
	background-color: rgba(0,0,0,0.4);
	height: 5px;
}

.tab-panel {
	display: none;
}

.tab-panel.active {
	display: block;
}

.tab-panel.active > p {
	margin-left: 60px;
	color: white;
	width: 60%;
	font-size: 1.5em;
}

